.container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background: linear-gradient(to bottom, #352112, #d9d9d9);
}

h1 {
  text-align: center;
  color: #000000;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;  
}

.tabs button {
  background-color: #704a35;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.tabs button.active {
  background-color: #a97253;
}

.content-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.generar-pdf {
  background-color: #edbc8b;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.generar-reporte {
  background-color: #a6a6a6;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #352112;
  color: #ffffff;
}

table tr:nth-child(even) {
  background-color: #a6a6a6;
}

table tr:hover {
  background-color: #704a35;
}